body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h2 {
    margin: 0;
    font-size: 20px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

h3 {
    font-size: 16px;
    margin-top: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

input[type="number"][disabled] {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
    cursor: not-allowed;
}
