body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: mediumpurple;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

article {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    margin: 20px 0;
}

a {
    display: block;
    text-align: center;
    background: mediumpurple;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 200px;
}
